* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}



a {
    text-decoration: none;
    transition: 0.3s;
    color: black;
    font-weight: bold;
    font-size: 12pt;
}




nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background-color: rgb(217, 217, 217);

}

main {
    background: url("images/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
    display: flex;
    justify-content: center;

}

/* todas as Classes */

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list a:hover{
    opacity: 0.7;
}

.nav-list li {
    margin-left: 32px;
}


.nome {
    display: flex;
    align-items: center;
}

.nome a {
    padding-left: 15px;
}

.nome a:hover{
    opacity: 0.7;
}

.nome img {
    width: 100px;
    /* width of container */
    height: 100px;
    /* height of container */
    border-radius: 50%;
}

.meio {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1024px;
    height: 470px;
    justify-content: space-around;
}

.meio h1 {
    font-size: 40pt;
}

.meio p {
    font-size: 14pt;
    padding: 50px;
    line-height: 30px;
}



.meio button {
    width: 371px;
    height: 96px;
    color: black;
    font-weight: bold;
    font-size: 15pt;
    border: none;
    cursor: pointer;
    background-color: rgb(217, 217, 217);
    border-radius: 5%;
}

.meio button:hover {
    opacity: 0.7;
    transition: 0.3s;

}

.about {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 1024px;
    height: 500px;
    justify-content: space-around;
    font-weight: bold;
}

.sidebar {
    position: fixed;
    z-index: 1;
    bottom: 10px;
    right: 0px;
    width: 300px;
    height: 80px;
    align-items: center;
    background: none;
    display: flex;
    justify-content: space-around;

}



.sidebar img {
    width: 60px;
    height: 60px;
}



/* Todos ID's */

#whatsapp {
    width: 49px;
    height: 49px;
}

#whatsappColo {
    position: fixed;
    z-index: 1;
    bottom: 22px;
    right: 60px;
    opacity: 0%;
    transition: 0.3s;
}

#whatsappColo:hover {

    opacity: 100%;
}

#linkedinColo {
    position: fixed;
    z-index: 1;
    bottom: 22px;
    right: 227px;
    opacity: 0%;
    transition: 0.3s;
}

#linkedinColo:hover {
    opacity: 100%;
}


#github:hover{
    opacity: 0.7;
}

#curiosidade {
    font-weight: bold;
    font-size: 15pt;
}

#contato {
    cursor: pointer;
}

/* Cards */

.teste {
    display: flex;
    margin: auto;

}

.card {
    display: flex;
    padding: 20px;

}

.square {
    width: 300px;
    height: 430px;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 20px 50px #D9DBDF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.mask {
    border-radius: 4px;
}

.square img {
    width: 300px;
}

.h1 {
    margin: auto;
    text-align: left;
    padding-left: 30px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.square p {
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    color: #000000;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: rgb(217, 217, 217);
    color: black;
    width: 90px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 12px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

/* modal */

.modal {

    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30px;
    width: 50%;
}


.modal-content {
    box-shadow: 0px 20px 50px #818181;
    background: rgb(255, 255, 255);
    width: 300px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5%;
}

.modal-content img {
    width: 150px;
    margin: auto;

}

.modal-content img:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 683px) {

    
    nav{
        height: 300px;
        flex-direction: column;
    }

    .nome{
        flex-direction: column;
    }

    .nome img{
        padding: 5px;
    }

    .nav-list{
        flex-direction: column;
        align-content: center;
    }

    .nav-list li {
        margin: auto;
        padding: 5px;
    }

    .sidebar{
        position: initial;
        justify-content: center;
        height: auto;
        padding-right: 4px;

    }

    .sidebar img{
        height: 50px;
        width: 50px;
    }

    #whatsapp{
        padding-left: 5px;
        height: 40px;
        width: 40px;
    }


    .teste {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: auto;

    }

    .square {
        width: 300px;
        height: 430px;
        background: white;
        border-radius: 4px;
        box-shadow: 0px 20px 50px #D9DBDF;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    

}



